body {
    font-family: 'Josefin Sans', sans-serif;
    background-color: whitesmoke;
}
.maincontainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
.michael-jess {
    background-image: url('./michael-jess.jpg');
    height: 500px;
    width: 100vw;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    overflow: none;
}

.sectioncontainer, .sectioncontainer2, .topcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
    width: 100vw;
}
.socks-stella-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.jess {
    background-image: url('./jess-yoga.jpg');
    height: 500px;
    width: 100vw;
    background-size: contain;
    background-repeat: no-repeat;
    overflow: none;
    background-position: top;
}
.socks-stella {
    background-image: url('./socks-stella.jpg');
    height: 500px;
    width: 100vw;
    background-size: contain;
    background-repeat: no-repeat;
    overflow: none;
    background-position: center;
}
.michael {
    background-image: url('./michael-cat.jpg');
    height: 500px;
    width: 100vw;
    background-size: contain;
    background-repeat: no-repeat;
    overflow: none;
    background-position: center;
}
.intro {
    margin: 0.25rem;
}
.michael, .jess {
    margin-bottom: 0.75rem;
}

/* Selects the first letter of a <p> */
.intro::first-letter {
    font-size: 200%;
    border: 2px solid darkgreen;
    border-radius: 5px;
    padding: 10px;
    margin: 0.5rem;
}
.best::first-letter {
    font-size: 200%;
}


.maincontainer > div, .maincontainer > p, .title {
    padding: 0.25rem 1rem;
}
.title, .subtitle {
    text-align: center;
    font-family: 'Pacifico', cursive;
    margin-right: 0.5rem;
    
}
.title {
    font-size: 2.5rem;
    text-shadow: 0 5px 2px tomato;
    margin-bottom: 0.25rem;
}
.subtitle {
    color: darkgreen;
}
.intro, .best {
    font-size: 1.5rem;
}
.simpsons {
    background-image: url('./simpsons.jpg');
    height: 400px;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}


